body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#left-pane {
    padding: 30px;
    width: 30%;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    max-height: 100vh;
    padding-right: 10px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    gap: 10px;
}

#right-pane {
    width: 70%;
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"]:focus,
button:focus {
    outline: none;
    border-color: #6a9ef5;
}

input[type="file"] {
    border: none;
    padding: 10px;
}

.action-button {
    background-color: #6a9ef5;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #4a7bc9;
}

.verb-count {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #e1f2f7;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 15px 0;
    padding: 12px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s;
}

li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.delete-button:focus {
    outline: none;
}

#verb-list {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

td {
    cursor: pointer;
}

#example-image {
    margin-top: 20px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
